gemfile:
  - gemfiles/gemfile_mm_12_0.gemfile
  - gemfiles/gemfile_mm_13.0.gemfile
language: ruby
rvm:
  - 1.9.3
  - 2.0.0
  - 2.1.1
notifications:
  email: false
bundler_args: --without development
branches:
  except:
    - development
services:
  - mongodb
